.mt-footer {
  background-color: @C-bgfooter;
  &__wrap {
    font-size: 0;
    letter-spacing: -.31em;
  }
  &__left {
    padding: 20px;
    position: relative;
    background-color: @C-gray;
    margin: 0 -10px;
    &_wrap {
      position: relative;
      text-align: center;
      font-size: 0;
      letter-spacing: -.31em;
    }
  }
  &__right {
    padding: 30px 0 15px 0;
  }
  &__logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
    & a {
      width: 120px;
      &:hover {
        filter: grayscale(80%);
      }
    }
  }
  &__partners {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
    & a {
      display: inline-block;
      margin-right: 10px;
      &:hover {
        filter: grayscale(80%);
      }
    }
  }
  &__social {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    letter-spacing: normal;
    margin-bottom: 10px;
    &_18 {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      width: 40px;
      height: 40px;
      background-color: @C-red;
      border-radius: 3px;
      border: 1px solid @C-red;
      text-align: center;
      & a {
        display: inline-block;
        padding-top: 9px;
        color: #FFFFFF;
        font-size: 15px;
        font-weight: @FW-ExtraBold;
      }
      &:hover {
        background-color: transparent;
      }
    }
    &_icon {
      display: inline-block;
      vertical-align: middle;
      & a {
        display: inline-block;
        vertical-align: middle;
        height: 18px;
        margin-left: 15px;
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          opacity: .65;
        }
      }
    }
  }
  &__copyright {
    vertical-align: middle;
    display: inline-block;
    font-size: 13px;
    font-weight: @FW-Medium;
    color: @C-grey;
    letter-spacing: normal;
    margin-bottom: 10px;
  }
  &__nav {
    font-size: 0;
    letter-spacing: -.31em;
    &_list {
      display: inline-block;
      width: 180px;
      padding: 0 10px;
      vertical-align: top;
      margin-bottom: 20px;
      & li {
        letter-spacing: normal;
        & div {
          margin-bottom: 10px;
          font-size: 13px;
          font-weight: @FW-Medium;
          color: @C-blue;
        }
        & a {
          display: inline-block;
          margin-bottom: 7px;
          font-size: 13px;
          color: #FFFFFF;
          font-weight: @FW-Medium;
          &:hover {
            color: @C-blue;
          }
        }
      }
    }
  }
}