.mt-head {
  background: @C-gray;
  padding: 10px 0;
  position: relative;
  &__wrap {
    display: table;
  }
  &__logo {
    width: 110px;
    &:hover {
      filter: grayscale(80%);
    }
  }
  &__navigation {
    display: table-cell;
    width: 100%;
    text-align: right;
    vertical-align: middle;
  }
  &__search {
    display: inline-block;
    width: 24px;
    vertical-align: middle;
    margin-right: 20px;
    &:hover {
      opacity: .65;
    }
  }
  &__menu {
    display: inline-block;
    vertical-align: middle;
  }
  &__toggle {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    width: 36px;
    & img {
      width: 36px;
      vertical-align: middle;
      &:first-child {
        display: inline-block;
      }
      &:last-child {
        display: none;
        width: 30px;
      }
    }
    &--active {
      & img {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: inline-block;
        }
      }
    }
  }
  &__nav {
    &_wrap {
      display: none;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99;
      background: @C-gray;
    }
    &_item {
      display: block;
      text-align: left;

      & > a {
        position: relative;
        display: block;
        font-size: @S-13;
        letter-spacing: normal;
        text-transform: uppercase;
        color: #FFFFFF;
        line-height: 1;
        padding: 18px 21% 14px 10px;
        border-bottom: 2px solid #ffffff;

        & span {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 20%;
          height: 100%;
          text-align: center;
          border-left: 2px solid #ffffff;

          &::before, &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 16px;
            height: 2px;
            background-color: #ffffff;
          }
          &::before {
            transform: rotate(90deg);
          }
          &.mt-head__nav_item--hover {
            &::before {
              display: none;
            }
          }
        }
      }
      &--active {
        & > a {
          border-bottom: 2px solid @C-blue;
          color: @C-blue;
          & span {
            border-left: 2px solid @C-blue;
            &::before, &::after {
              background: @C-blue;
            }
          }
        }
      }
    }
    &_dropdown {
      display: none;
      padding: 10px 0 20px 0;
      border-bottom: 2px solid #ffffff;
      &__item {
        width: 100%;
        border-bottom: 1px solid #ffffff;
        & a {
          position: relative;
          display: block;
          font-size: 12px;
          padding: 7px 10px 7px 10px;
          color: #FFFFFF;
          text-transform: uppercase;
          line-height: 1;
        }
        &--active {
          border-bottom: 1px solid @C-blue;
          & a {
            cursor: default;
            pointer-events: none;
            color: @C-blue;
          }
        }
      }
    }
  }
  &__panel {
    display: table;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 0;
    letter-spacing: -.31em;
    &_user {
      display: inline-block;
      width: 50%;
      padding: 12px 5px 12px 0;
      vertical-align: middle;
      border-right: 1px solid #4b4b4b;
      text-align: center;
      & a {
        display: inline-block;
        width: 50%;
        padding: 7px 0;
        vertical-align: middle;
        font-size: @S-13;
        color: #FFFFFF;
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
        letter-spacing: normal;
        &:hover {
          color: @C-blue;
        }
      }
    }
    &_social {
      display: inline-block;
      width: 49%;
      padding: 12px 5px 12px 0;
      vertical-align: middle;
      text-align: center;
      & a {
        display: inline-block;
        padding: 5px 7px;
        vertical-align: middle;
        & img {
          max-width: 16px;
          max-height: 18px;
        }
        &:hover {
          opacity: .65;
        }
      }
    }
  }
}

