@media ( max-width: 640px ) {
  .mt-poster {
    &__desc {
      & .mt-title {
        font-size: 30px;
        margin-bottom: 15px;
      }
    }
  }
  .mt-sidebar__poster {
    padding: 70px 20px 60px 20px;
  }
}
@media ( max-width: 540px ) {
  .mt-poster {
    background-image: url(../img/poster-pc-mob.jpg);
    background-position: bottom left;
    text-align: center;
    padding: 80px 20px;
  }
  .mt-sidebar__poster {
    background-image: url(../img/sidebar/sidebar-poster-mob.jpg);
    padding: 120px 10px 110px 10px;
    text-align: center;
    background-position: center;
    &_desc {
      & .mt-title {
        font-size: 32px;
      }
    }
  }
  .mt-poster__ipad {
    background-image: url(../img/poster-ipad-mob.jpg);
    background-position: center;
    text-align: center;
    padding: 60px 10px;
    &_desc {
      & .mt-title {
        font-size: 32px;
        margin-bottom: 15px;
      }
    }
  }
}
@media ( max-width: 460px ) {
  .mt-news__item {
    display: block;
  }
  .mt-news__desc {
    width: 100%;
    padding-left: 0;
  }
  .mt-news__img {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 10px;
  }
  .mt-tips__list {
    margin: 0;
  }
  .mt-tips__item_wrap {
    width: 100%;
    padding: 0;
  }
  .mt-article__head {
    display: block;
  }
  .mt-article__logo_wrap {
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 5px;
  }
  .mt-article__title {
    display: inline-block;
  }
}
@media ( max-width: 425px ) {
  .mt-bookmakers-table__right {
    width: 65px;
  }
  .mt-sidebar__poster {
    &_desc {
      & .mt-title {
        margin-bottom: 15px;
        & span {
          font-size: 18px;
        }
      }
    }
  }
}
@media ( max-width: 350px ) {
  .mt-bookmakers-table__logo {
    width: 100%;
    margin-bottom: 5px;
  }
  .mt-bookmakers-table__rating {
    display: inline-block;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .mt-bookmakers-table__stars {
    width: 100%;
  }
  .mt-bookmakers-table__right {
    width: 85px;
  }
  .mt-bookmakers-table__desc li {
    padding-left: 0;
    &::before {
      display: none;
    }
  }
}
//@media (max-width: 640px) {
//  .mt-content__btn-more {
//    display: block;
//  }
//  .mt-content__block {
//    &>p {
//      font-size: 14px;
//      margin-bottom: 15px;
//    }
//    &>h4 {
//      font-size: 14px;
//      margin-bottom: 10px;
//    }
//  }
//  .mt-matches {
//    &__list {
//      margin: 0;
//    }
//    &__item {
//      &_wrap {
//        width: 100%;
//        padding: 0;
//      }
//    }
//  }
//  .mt-news {
//    &__item {
//      flex-wrap: wrap;
//    }
//    &__img {
//      max-height: 100%;
//      flex: 0 0 100%;
//      width: 100%;
//      text-align: center;
//      margin-bottom: 5px;
//    }
//    &__desc {
//      width: 100%;
//    }
//  }
//  .mt-tips {
//    &__list {
//      margin: 0;
//    }
//    &__item {
//      width: 100%;
//      margin: 0 auto;
//    }
//    &__item_wrap {
//      width: 100%;
//      padding: 0;
//    }
//    &__img {
//      margin-bottom: 5px;
//      & img {
//        width: auto;
//      }
//    }
//  }
//  .mt-footer {
//    &__left {
//      order: 2;
//      padding: 20px 10px;
//      &_wrap {
//        flex-wrap: wrap;
//        &>*:not(:first-child) {
//          margin-left: 0;
//        }
//      }
//    }
//    &__right {
//      padding: 20px 0 10px 0;
//    }
//    &__nav {
//      &_list {
//        margin-bottom: 10px;
//        margin-left: -10px;
//        margin-right: -10px;
//        & li {
//          & div {
//            margin-bottom: 10px;
//          }
//          & a {
//            font-size: 12px;
//            margin-bottom: 5px;
//          }
//        }
//      }
//    }
//    &__logo {
//      flex: 0 0 100%;
//      margin-bottom: 10px;
//    }
//    &__partners {
//      margin-bottom: 10px;
//      & a:not(:last-child) {
//        margin-right: 10px;
//      }
//    }
//    &__social {
//      margin-bottom: 10px;
//      &_18 {
//        margin-right: 15px;
//      }
//    }
//    &__copyright {
//      flex: 0 0 100%;
//      text-align: center;
//    }
//  }
//  .mt-faq {
//    margin-bottom: 0;
//    &__title {
//      font-size: 14px;
//      padding: 15px 30px 10px 10px;
//      margin-bottom: 10px;
//      &::before {
//        right: 10px;
//      }
//    }
//    &__drop {
//      margin-top: -10px;
//      padding: 0 10px 15px 10px;
//      &:not(:last-child) {
//        margin-top: -10px;
//      }
//    }
//    &__text {
//      font-size: 14px;
//    }
//  }
//  .mt-sidebar__video {
//    &_wrap {
//      height: 300px;
//    }
//  }
//  .mt-sidebar__information {
//    padding: 15px 10px;
//    &_row {
//      &:not(:last-child) {
//        margin-bottom: 7px;
//      }
//    }
//    &_title {
//      padding-right: 5px;
//      font-size: 14px;
//    }
//    &_desc {
//      font-size: 14px;
//    }
//    &_link {
//      font-size: 14px;
//    }
//  }
//  .mt-predictions {
//    &:not(:last-child) {
//      margin-bottom: 10px;
//    }
//    &__title {
//      font-size: 16px;
//      margin-bottom: 8px;
//    }
//    &__item {
//      width: 100%;
//      margin-bottom: 10px;
//    }
//  }
//  .mt-sidebar__poster {
//    padding: 70px 20px 60px 20px;
//  }
//  .mt-latest-result {
//    &__tab {
//      &_item {
//        padding: 15px 20px 9px 20px;
//        font-size: 13px;
//      }
//    }
//    &__desc {
//      &_left {
//        padding: 20px 5px 30px 10px;
//        & .mt-latest-result__desc_logo {
//          margin-right: 40px;
//        }
//        & .mt-latest-result__desc_row {
//          & p {
//            padding-right: 15px;
//          }
//        }
//      }
//      &_right {
//        padding: 20px 5px 30px 10px;
//        & .mt-latest-result__desc_logo {
//          margin-left: 40px;
//        }
//        & .mt-latest-result__desc_row {
//          & p {
//            padding-left: 15px;
//          }
//        }
//      }
//      &_bottom {
//        padding: 20px 10px 10px 10px;
//      }
//      &_logo {
//        width: 50px;
//        height: 50px;
//        margin-bottom: 20px;
//      }
//      &_row {
//        &:not(:last-child) {
//          margin-bottom: 7px;
//        }
//        & p {
//          font-size: 14px;
//        }
//        & span {
//          flex: 0 0 20px;
//          width: 20px;
//          height: 20px;
//          font-size: 15px;
//        }
//      }
//      &_row-two {
//        &:not(:last-child) {
//          margin-bottom: 10px;
//        }
//        & p {
//          font-size: 14px;
//          &:first-child {
//            width: 30%;
//          }
//          &:nth-child(2) {
//            width: 40%;
//          }
//          &:last-child {
//            width: 30%;
//          }
//        }
//      }
//    }
//  }
//  .mt-bonuses-table {
//    &__item {
//      align-items: stretch;
//      flex-wrap: wrap;
//      &:not(:last-child) {
//        margin-bottom: 14px;
//      }
//    }
//    &__logo {
//      order: 0;
//      flex: 0 0 50%;
//      border-bottom: 1px solid @C-border;
//    }
//    &__desc {
//      padding: 20px;
//      order: 2;
//      flex: 0 0 100%;
//    }
//    &__link {
//      order: 1;
//      flex: 0 0 50%;
//      margin-left: 0;
//      border-bottom: 1px solid @C-border;
//    }
//  }
//  .mt-single-article {
//    &__item {
//      justify-content: center;
//      flex-wrap: wrap;
//      margin-bottom: 10px;
//    }
//    &__img {
//      flex: 0 0 100%;
//      padding-right: 0;
//      margin-bottom: 10px;
//    }
//    &__desc {
//      flex: 1 1 auto;
//    }
//  }
//  .mt-content__inside_item {
//    flex-wrap: wrap;
//  }
//  .mt-content__inside_left {
//    flex: 0 0 100%;
//  }
//}
//@media (max-width: 540px) {
//  .mt-article__head {
//    flex-direction: column;
//    align-items: flex-start;
//  }
//  .mt-article__logo_wrap {
//    margin-bottom: 10px;
//  }
//  .mt-footer__nav {
//    columns: 2;
//  }
//  .mt-single-title {
//    flex-wrap: wrap;
//    justify-content: center;
//    &__logo {
//      margin-bottom: 5px;
//    }
//  }
//  .mt-bookmakers-overview {
//    &__rating {
//      width: 100%;
//      margin-bottom: 10px;
//      order: 1;
//    }
//    &__advantages {
//      width: 100%;
//      order: 0;
//      margin-bottom: 10px;
//    }
//    &__bonuses {
//      width: 100%;
//      order: 2;
//    }
//  }
//  .mt-bnr__slider_desc {
//    padding: 30px 40px;
//  }
//  .mt-bnr__slider_desc .mt-title {
//    font-size: 30px;
//    margin-bottom: 10px;
//    & span {
//      font-size: 15px;
//    }
//  }
//  .mt-bnr__slider_img {
//    object-fit: cover;
//    object-position: left;
//  }
//  .mt-searchPage {
//    &__form {
//      height: 60px;
//    }
//    &__input {
//      & input {
//        padding: 0 15px;
//        font-size: 15px;
//      }
//    }
//    &__btn {
//      flex: 0 0 60px;
//      width: 60px;
//    }
//  }
//  .mt-poster {
//    background-image: url(../img/poster-pc-mob.jpg);
//    background-position: bottom left;
//    justify-content: center;
//    &__desc {
//      & .mt-title {
//        font-size: 30px;
//        margin-bottom: 15px;
//      }
//    }
//  }
//  .mt-sidebar__poster {
//    background-image: url(../img/sidebar/sidebar-poster-mob.jpg);
//    padding: 120px 10px 110px 10px;
//    justify-content: center;
//    background-position: center;
//    &_desc {
//      & .mt-title {
//        font-size: 32px;
//      }
//    }
//  }
//  .mt-poster__ipad {
//    background-image: url(../img/poster-ipad-mob.jpg);
//    background-position: center;
//    justify-content: center;
//    padding: 60px 10px;
//    &_desc {
//      & .mt-title {
//        font-size: 32px;
//        margin-bottom: 15px;
//      }
//    }
//  }
//  .mt-sidebar__bookmakers_left {
//    width: 49%;
//    text-align: left;
//  }
//  .mt-sidebar__bookmakers_right {
//    width: 49%;
//    text-align: right;
//  }
//  .mt-single-tips__item_wrap {
//    width: 100%;
//  }
//}
//@media (max-width: 425px) {
//  .mt-btn__blue--medium {
//    padding: 9px 16px;
//  }
//  .mt-btn__green--big {
//    padding: 10px;
//  }
//  .mt-btn__green--small {
//    padding: 5px 11px;
//    font-size: 11px;
//  }
//  .mt-bnr__slider_desc {
//    left: 0;
//    right: 0;
//    & .mt-title {
//      font-size: 30px;
//      background-color: rgba(0,0,0,.4);
//      padding: 10px;
//      margin-bottom: 5px;
//    }
//  }
//  .mt-bnr__slider_wrap .lSSlideOuter .lSPager.lSpg {
//    bottom: -8px;
//  }
//  .mt-bnr__slider_img {
//  	height: 220px;
//  }
//  .mt-bookmakers-table {
//    &__item {
//      padding: 7px 13px;
//    }
//    &__logo {
//      flex: 0 0 100px;
//      max-height: 50px;
//    }
//    &__rating {
//      max-width: 120px;
//    }
//    &__stars {
//      font-size: 16px;
//      padding: 0 5px;
//    }
//    &__info {
//      font-size: 12px;
//    }
//    &__link {
//      flex: 0 0 110px;
//      & .mt-btn__green--small {
//        padding: 10px 12px;
//      }
//      & .mt-btn__blue--small {
//        padding: 5px 8px;
//      }
//    }
//    &__desc {
//      padding-right: 5px;
//      & li {
//        font-size: 12px;
//        &::before {
//          top: 6px;
//        }
//      }
//    }
//  }
//  .mt-sidebar__tips {
//    &_item {
//      flex-direction: column;
//    }
//    &_img {
//     flex: 1 1 auto;
//      margin-bottom: 5px;
//    }
//  }
//  .mt-single-title {
//    &__info {
//      flex-wrap: wrap;
//      justify-content: center;
//    }
//    &__text {
//      margin-bottom: 5px;
//      & li:not(:last-child) {
//        margin-bottom: 5px;
//      }
//    }
//  }
//  .mt-sidebar__slider {
//    &_wrap {
//      padding: 10px 8px 18px 8px;
//    }
//  }
//  .mt-sidebar__poster {
//    &_desc {
//      & .mt-title {
//        margin-bottom: 15px;
//        & span {
//          font-size: 18px;
//        }
//      }
//    }
//  }
//  .mt-bonuses-table {
//    &__logo {
//      padding: 10px;
//    }
//    &__desc {
//      padding: 10px;
//    }
//    &__title {
//      font-size: 12px;
//    }
//    &__text {
//      font-size: 11px;
//    }
//    &__info {
//      &_item {
//        width: 100%;
//        font-size: 11px;
//        &:not(:last-child) {
//          margin-right: 0;
//        }
//      }
//    }
//    &__link {
//      padding: 10px;
//      & .mt-btn__green--small {
//        padding: 10px 17px;
//      }
//      & .mt-btn {
//        margin-bottom: 10px;
//      }
//    }
//  }
//  .mt-footer {
//    &__left {
//      padding: 20px 10px;
//      justify-content: space-around;
//    }
//    &__partners {
//      flex: 0 0 100%;
//    }
//    &__social {
//      flex: 0 0 auto;
//    }
//    &__copyright {
//      flex: 0 0 auto;
//      text-align: center;
//    }
//  }
//  .mt-author-articles {
//    &__right {
//      flex-wrap: wrap;
//    }
//    &__date {
//      width: 100%;
//      text-align: right;
//      &:not(:last-child) {
//        margin-right: 0;
//      }
//    }
//  }
//}
//@media (max-width: 380px) {
//  .mt-sidebar__bookmakers_left b {
//    font-size: 12px;
//  }
//  .mt-sidebar__bookmakers_left p {
//    font-size: 13px;
//  }
//  .mt-sidebar__bookmakers_right p {
//    font-size: 11px;
//  }
//  .mt-footer__nav {
//    columns: auto;
//    display: flex;
//    justify-content: space-between;
//    align-items: flex-start;
//    flex-wrap: wrap;
//    &_list {
//      width: 50%;
//      text-align: left;
//    }
//  }
//  .mt-bookmakers-table {
//    &__left {
//      flex-wrap: wrap;
//      justify-content: space-between;
//      & .mt-bookmakers-table__link {
//        flex: 0 0 100%;
//        justify-content: flex-end;
//        & .mt-btn {
//          max-width: 110px;
//        }
//      }
//    }
//    &__right {
//      flex-wrap: wrap;
//      justify-content: center;
//      align-items: flex-start;
//      margin-top: -25px;
//      & .mt-bookmakers-table__link {
//        padding-top: 20px;
//      }
//    }
//    &__link {
//      margin-top: 5px;
//    }
//    &__desc {
//      width: calc( 100% - 120px );
//    }
//  }
//  .mt-sidebar__video {
//    &_wrap {
//      padding: 10px 8px;
//      height: 250px;
//      &::before, &::after {
//        top: 10px;
//        left: 8px;
//        right: 8px;
//        bottom: 10px;
//      }
//    }
//  }
//  .mt-latest-result__desc_row p {
//    font-size: 13px;
//  }
//  .mt-latest-result__desc_left .mt-latest-result__desc_row p {
//    padding-right: 10px;
//  }
//  .mt-latest-result__desc_right .mt-latest-result__desc_row p {
//    padding-left: 10px;
//  }
//  .mt-prediction-head {
//    &__title {
//      padding: 20px 10px;
//    }
//    &__list {
//      flex-wrap: wrap;
//      padding: 20px 10px;
//      align-items: flex-start;
//    }
//    &__item {
//      width: 49%;
//    }
//    &__left {
//      order: 1;
//    }
//    &__right {
//      order: 2;
//    }
//    &__center {
//      order: 0;
//      flex: 0 0 100%;
//      padding: 10px;
//      & p {
//        font-size: 18px;
//      }
//    }
//    &__img {
//      height: 120px;
//      margin-bottom: 10px;
//    }
//    &__name {
//      font-size: 18px;
//      margin-bottom: 10px;
//    }
//    &__last-matches {
//      font-size: 15px;
//      & span {
//        flex: 0 0 22px;
//        width: 22px;
//        height: 22px;
//      }
//    }
//  }
//  .mt-content__inside_title {
//    font-size: 15px;
//    padding: 12px 10px;
//  }
//  .mt-content__inside_item {
//    padding: 10px;
//  }
//  .mt-content__inside_right {
//    flex-wrap: wrap;
//    justify-content: center;
//    align-items: center;
//  }
//  .mt-content__inside_desc {
//    flex: 0 0 100%;
//    padding: 10px 0;
//    text-align: center;
//  }
//}
//
//
//div.sitable {
//  margin-bottom: 20px;
//}
//.one_half {
//  width: 100%;
//  float: left;
//  margin-bottom: 20px;
//}
//.one_half.last {
//  margin-bottom: 0;
//}
//.clear {
//  clear: both;
//}
//.mt-free-games {
//  display: -webkit-box;
//  display: -ms-flexbox;
//  display: flex;
//  -webkit-box-pack: justify;
//  -ms-flex-pack: justify;
//  justify-content: space-between;
//  -webkit-box-align: center;
//  -ms-flex-align: center;
//  align-items: center;
//  -ms-flex-wrap: wrap;
//  flex-wrap: wrap;
//}
//.mt-free-games .one_third {
//  -webkit-box-flex: 0;
//  -ms-flex: 0 0 210px;
//  flex: 0 0 210px;
//  padding-right: 10px;
//  margin-bottom: 10px;
//  display: -webkit-box;
//  display: -ms-flexbox;
//  display: flex;
//  -webkit-box-pack: center;
//  -ms-flex-pack: center;
//  justify-content: center;
//  -webkit-box-align: center;
//  -ms-flex-align: center;
//  align-items: center;
//}
//form#ws-plugin--s2member-profile label {
//
//}
//form#ws-plugin--s2member-profile input[type="text"],
//form#ws-plugin--s2member-profile input[type="email"],
//form#ws-plugin--s2member-profile input[type="password"],
//form#ws-plugin--s2member-profile textarea,
//form#ws-plugin--s2member-profile select {
//  width: 100%;
//  height: 40px;
//  padding: 0 10px;
//  border: 1px solid @C-border;
//  font-size: 13px;
//  border-radius: 3px;
//  color: @C-blue;
//  font-weight: @FW-Medium;
//  transition: .3s;
//  &::-webkit-input-placeholder {
//    font-weight: @FW-Reg;
//  }
//  &:focus {
//    box-shadow: inset 0 0 3px 0 gray;
//  }
//}
//form#ws-plugin--s2member-profile strong {
//  font-size: 15px;
//  text-transform: uppercase;
//  margin-bottom: 5px;
//  display: inline-block;
//}
//form#ws-plugin--s2member-profile input[type="submit"] {
//  color: #ffffff;
//  background-color: @C-blue;
//  cursor: pointer;
//  &:hover {
//    background-color: transparent;
//    color: @C-blue;
//  }
//}
