.mt-bonuses-table {
  &__filter {
    font-size: 0;
    letter-spacing: -.31em;
    margin-bottom: 16px;
    width: 100%;
    & p {
      font-size: 18px;
      font-weight: @FW-Bold;
      color: @C-gray2;
      text-transform: uppercase;
      vertical-align: middle;
      padding: 6px;
    }
    &_wrap {
      width: 100%;
      display: table;
      border-collapse: collapse;
      font-size: 0;
      letter-spacing: -.31em;
      & a {
        padding: 12px;
        display: table-cell;
        font-size: 12px;
        font-weight: @FW-Bold;
        color: #FFFFFF;
        text-transform: uppercase;
        text-align: center;
        transition: .3s;
        background-color: @C-gray2;
        &:first-child {
          &:hover {
            background-color: @C-orange;
          }
          &.active {
            background-color: @C-orange;
          }
        }
        &:hover {
          background-color: @C-blue;
        }
        &.active {
          cursor: default;
          pointer-events: none;
          background-color: @C-blue;
        }
      }
    }
  }
  &__item {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(29, 29, 29, 0.15);
    margin-bottom: 8px;
    display: table;
    border-collapse: collapse;
    font-size: 0;
    letter-spacing: -.31em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__logo {
    display: table-cell;
    vertical-align: middle;
    width: 102px;
    padding: 8px 15px 8px 12px;
    & img {
      height: 75px;
      vertical-align: middle;
    }
  }
  &__bonus {
    width: 120px;
    display: table-cell;
    vertical-align: middle;
    padding: 8px 15px 8px 15px;
    text-transform: uppercase;
    font-weight: @FW-Bold;
    font-size: 18px;
    color: @C-blue;
    & p:last-child {
      margin-top: 10px;
      font-size: 11px;
      color: @C-textblack;
    }
  }
  &__desc {
    display: table-cell;
    vertical-align: middle;
    padding: 8px 15px 8px 15px;
    text-align: left;
  }
  &__title {
    font-size: 13px;
    font-weight: @FW-Bold;
    color: @C-blue;
    margin-bottom: 5px;
  }
  &__text {
    color: @C-textblack;
    font-size: 12px;
    font-weight: @FW-SemiBold;
    margin-bottom: 5px;
  }
  &__info {
    font-weight: @FW-Medium;
    font-size: 12px;
    color: @C-blue;
    & b {
      font-weight: @FW-Bold;
      color: @C-textblack;
      margin-right: 5px;
    }
  }
  &__link {
    padding: 8px 12px 8px 15px;
    width: 127px;
    vertical-align: middle;
    display: table-cell;
    & .mt-bonuses-table__terms {
      width: 100%;
      text-align: center;
      font-size: 11px;
      color: @C-textblack;
      margin-top: 10px;
      font-weight: @FW-Bold;
    }
  }
}