.mt-author-articles {
  background-color: #FFFFFF;
  padding: 5px 10px;
  box-shadow: 0px 2px 4px 0px rgba(29, 29, 29, 0.15);
  font-size: 0;
  letter-spacing: -.31em;
  &__left {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
    text-align: left;
  }
  &__right {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    text-align: right;
  }
  &__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    & img {
      object-fit: cover;
      object-position: center;
    }
  }
  &__title {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    letter-spacing: normal;
    font-weight: 600;
    color: #0090d6;
    margin-bottom: 7px;
    & a {
      font-size: 14px;
      letter-spacing: normal;
      font-weight: 600;
      color: @C-blue;
    }
  }
  &__about {
    font-size: 14px;
    letter-spacing: normal;
    color: @C-textblack;
  }
  &__stars {
    text-align: left;
    &_img {
      background-repeat: no-repeat;
      background-size: contain;
      width: 100px;
      height: 16px;
    }
    &--0-0 {
      background-image: url(../img/star-yellow-0.png);
    }
    &--0-5 {
      background-image: url(../img/star-yellow-0-5.png);
    }
    &--1-0 {
      background-image: url(../img/star-yellow-1.png);
    }
    &--1-5 {
      background-image: url(../img/star-yellow-1-5.png);
    }
    &--2-0 {
      background-image: url(../img/star-yellow-2.png);
    }
    &--2-5 {
      background-image: url(../img/star-yellow-2-5.png);
    }
    &--3-0 {
      background-image: url(../img/star-yellow-3.png);
    }
    &--3-5 {
      background-image: url(../img/star-yellow-3-5.png);
    }
    &--4-0 {
      background-image: url(../img/star-yellow-4.png);
    }
    &--4-5 {
      background-image: url(../img/star-yellow-4-5.png);
    }
    &--5-0 {
      background-image: url(../img/star-yellow-5.png);
    }
  }
  &__date {
    display: inline-block;
    color: #c2c2c2;
    font-size: 14px;
    letter-spacing: normal;
    margin-right: 20px;
    & img {
      margin-right: 8px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
