.mt-bookmakers-overview {
  &__wrap {
  }
  &__item {
    box-shadow: 0px 2px 4px 0px rgba(29, 29, 29, 0.15);
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    & h3 {
      padding: 15px;
      background-color: #25373e;
      color: #FFFFFF;
      font-size: 15px;
      font-weight: @FW-Bold;
    }
  }
  &__rating {
    display: table;
    width: 100%;
    font-size: 0;
    letter-spacing: -.31em;
    background-color: #FFFFFF;
    &_total {
      width: 180px;
      display: table-cell;
      border-right: 1px solid @C-border;
      padding: 25px 5px;
      text-align: center;
      color: @C-blue;
      font-size: 70px;
      font-weight: @FW-Bold;
      line-height: 0.9;
      vertical-align: middle;
    }
    &_detail {
      vertical-align: middle;
      padding: 25px 5px;
      display: table-cell;
      text-align: center;
    }
    &_stars {
      text-align: center;
      &_img {
        display: inline-block;
        width: 160px;
        background-repeat: no-repeat;
        background-size: contain;
        height: 26px;
      }
      &--0-0 {
        background-image: url(../img/star-yellow-0.png);
      }
      &--0-5 {
        background-image: url(../img/star-yellow-0-5.png);
      }
      &--1-0 {
        background-image: url(../img/star-yellow-1.png);
      }
      &--1-5 {
        background-image: url(../img/star-yellow-1-5.png);
      }
      &--2-0 {
        background-image: url(../img/star-yellow-2.png);
      }
      &--2-5 {
        background-image: url(../img/star-yellow-2-5.png);
      }
      &--3-0 {
        background-image: url(../img/star-yellow-3.png);
      }
      &--3-5 {
        background-image: url(../img/star-yellow-3-5.png);
      }
      &--4-0 {
        background-image: url(../img/star-yellow-4.png);
      }
      &--4-5 {
        background-image: url(../img/star-yellow-4-5.png);
      }
      &--5-0 {
        background-image: url(../img/star-yellow-5.png);
      }
    }
    &_info {
      color: @C-textblack;
      font-size: 15px;
      font-weight: @FW-SemiBold;
      margin-bottom: 15px;
    }
  }
  &__advantages {
    &_desc {
      padding: 25px 20px;
      background-color: #FFFFFF;
      & li {
        width: 100%;
        text-align: left;
        position: relative;
        padding-left: 16px;
        color: @C-textblack;
        font-size: 15px;
        line-height: 1.6;
        font-weight: @FW-Medium;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 11px;
          width: 10px;
          height: 1px;
          background-color: @C-blue;
        }
      }
    }
  }
  &__bonuses {
    &_desc {
      display: table;
      font-size: 0;
      letter-spacing: -.31em;
      width: 100%;
      background-color: #FFFFFF;
      padding: 25px 20px;
    }
    &_logo {
      display: table-cell;
      width: 130px;
      vertical-align: middle;
      & div {
        width: 95px;
        height: 95px;
        border-radius: 50%;
        background-color: @C-blue;
        text-align: center;
        padding-top: 17px;
      }
    }
    &_detail {
      display: table-cell;
      vertical-align: middle;
      ul {
        margin-bottom: 15px;
        & li {
          width: 100%;
          text-align: left;
          position: relative;
          padding-left: 16px;
          color: @C-blue;
          font-size: 15px;
          line-height: 1.6;
          font-weight: @FW-SemiBold;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 11px;
            width: 10px;
            height: 1px;
            background-color: @C-blue;
          }
        }
      }
    }
    &_link {
      & .mt-btn {
        padding: 14px 42px;
      }
    }
  }
}