.mt-content__inside {
  margin-top: 30px;
  &_title {
    width: 100%;
    padding: 12px 10px;
    background-color: #25373e;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: normal;
  }
  &_item {
    padding: 10px 18px;
    background-color: #064147;
    width: 100%;
    display: table;
  }
  &_left {
    width: 220px;
    text-align: left;
  }
  &_right {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: right;
  }
  &_logo {
    display: inline-block;
    width: 110px;
    vertical-align: middle;
    margin-right: 10px;
    & img {
      vertical-align: middle;
    }
  }
  &_rating {
    display: inline-block;
    vertical-align: middle;
    &--img {
      background-repeat: no-repeat;
      background-size: contain;
      height: 19px;
      width: 100px;
    }
    &--0-0 {
      background-image: url(../img/star-yellow-0.png);
    }
    &--0-5 {
      background-image: url(../img/star-yellow-0-5.png);
    }
    &--1-0 {
      background-image: url(../img/star-yellow-1.png);
    }
    &--1-5 {
      background-image: url(../img/star-yellow-1-5.png);
    }
    &--2-0 {
      background-image: url(../img/star-yellow-2.png);
    }
    &--2-5 {
      background-image: url(../img/star-yellow-2-5.png);
    }
    &--3-0 {
      background-image: url(../img/star-yellow-3.png);
    }
    &--3-5 {
      background-image: url(../img/star-yellow-3-5.png);
    }
    &--4-0 {
      background-image: url(../img/star-yellow-4.png);
    }
    &--4-5 {
      background-image: url(../img/star-yellow-4-5.png);
    }
    &--5-0 {
      background-image: url(../img/star-yellow-5.png);
    }
  }
  &_link {
    width: 130px;
    & .mt-btn {
      width: 100%;
      vertical-align: middle;
    }
  }
  &_desc {
    display: table-cell;
    width: 100%;
    text-align: left;
    padding: 5px 16px;
    position: relative;
    font-size: 15px;
    color: #ffffff;
    font-weight: @FW-Bold;
    letter-spacing: -0.5px;
    &__wrap {
      display: table;
      width: 100%;
    }
  }
}