.mt-crumbs {
  padding: 5px 0;
  text-align: left;
  &__link {
    display: inline-block;
    vertical-align: middle;
    color: @C-text-gray;
    font-size: 9px;
    font-weight: @FW-SemiBold;
    &:hover {
      color: @C-blue;
    }
  }
  &__text {
    display: inline-block;
    vertical-align: middle;
    color: @C-text-gray;
    font-weight: @FW-SemiBold;
    font-size: 9px;
  }
  &__separator {
    display: inline-block;
    vertical-align: middle;
    &::before {
      content: '>';
      font-size: 11px;
      color: @C-textblack;
    }
    margin: 0 4px 0 1px;
  }
}