.mt-prediction-vote2 {
  & .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    border-bottom: 1px solid #d4d6d8;
    & b {
      font-weight: @FW-Medium;
      font-size: 20px;
      color: @C-blue;
      text-transform: uppercase;
      text-decoration: underline;
    }
    &__text {
      font-size: 18px;
      color: #696969;
    }
    &__coefficient {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0;
      border: 2px solid #c6c8cb;
      height: 40px;
      &:hover {
        border: 2px solid @C-blue;
      }
      &_img, &_value {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 100%;
      }
      &_img {
        &--267294 {
          background-color: #313741;
        }
        &--258797 {
          background-color: #004EA0;
        }
        &--254291 {
          background-color: #027C5C;
        }
        &--254534 {
          background-color: #000000;
        }
        &--254384 {
          background-color: #000C3C;
        }
        &--254367 {
          background-color: #00AE00;
        }
        &--254332 {
          background-color: #000000;
        }
        &--254320 {
          background-color: #002759;
        }
        &--254312 {
          background-color: darken(#FFB900, 10%);
        }
        &--254187 {
          background-color: #F8F8F8;
        }
      }
      &_value {
        font-size: 18px;
        font-weight: @FW-Medium;
        color: @C-blue;
      }
    }
  }
  & .calculator {
    padding: 30px 20px 0 20px;
    font-size: 0;
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__text {
      height: 40px;
      padding: 10px 15px;
      border: 1px solid #e2e3e5;
      font-size: 18px;
      color: #696969;
      & span {
        color: #333333;
        font-weight: @FW-Medium;
      }
    }
    &__result {
      height: 40px;
      padding: 10px 15px;
      font-size: 18px;
      border: 1px solid #e2e3e5;
      font-weight: @FW-Medium;
      & span {
        color: #696969;
      }
      & b {
        color: @C-blue;
        font-weight: @FW-Medium;
      }
    }
    &__rate {
      text-align: center;
      height: 50px;
      width: 100%;
      max-width: 400px;
      margin: 35px auto 0 auto;
      & input {
        height: 100%;
        width: 100%;
        text-align: center;
        border: 1px solid #c6c8cb;
        border-radius: 5px;
        font-size: 18px;
        color: #1b1b1b;
        font-weight: @FW-Medium;
        transition: .3s;
        background-color: #FFFFFF;
        &::-webkit-input-placeholder {
          font-size: 20px;
          color: #c2c2c2;
          font-weight: @FW-Medium;
        }
        &:focus {
          border: 1px solid @C-blue;
        }
      }
    }
  }
  & .description {
    text-align: center;
    font-size: 0;
    padding: 30px 20px;
    & .mt-btn {
      font-size: 16px;
      padding: 20px 40px;
      width: 100%;
      max-width: 400px;
    }
  }
  &__statistic {
    display: table;
    border-collapse: collapse;
    padding: 0 15px;
    margin-bottom: 15px;
    width: 100%;
    & p {
      display: table-cell;
      font-size: 14px;
      color: @C-textblack;
      font-weight: @FW-SemiBold;
      &:first-child {
        color: @C-blue;
        width: 63%;
      }
      &:last-child {
        text-align: right;
        color: #d7d7d7;
      }
    }
  }
  &__votes {
    padding: 30px 20px;
    &--active {
      & .mt-prediction-vote2__votes_btn {
        display: none;
      }
      & .mt-prediction-vote2__votes_statistic {
        display: block;
      }
    }
    &_btn {
      font-size: 0;
      & a {
        display: inline-block;
        text-align: center;
        width: 40%;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: @FW-Bold;
        padding: 10px;
        border-radius: 8px;
        margin-left: 20%;
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          background-color: #FFFFFF;
        }
      }
      & .yes {
        background-color: @C-blue;
        border: 2px solid @C-blue;
        &:hover {
          background-color: #FFFFFF;
          color: @C-green;
        }
      }
      & .no {
        background-color: @C-red;
        border: 2px solid @C-red;
        &:hover {
          color: @C-red;
        }
      }
    }
    &_statistic {
      display: none;
      & .rating-percent {
        display: table;
        font-size: 14px;
        font-weight: @FW-Bold;
        margin-bottom: 15px;
        width: 100%;
        & p {
          display: table-cell;
        }
        & .green {
          color: @C-blue;
          text-align: left;
          & span {
            margin-left: 10px;
          }
          & img {
            margin-left: 10px;
          }
        }
        & .red {
          text-align: right;
          color: @C-red;
          & span {
            margin-right: 10px;
          }
          & img {
            margin-right: 10px;
          }
        }
      }
      & .rating-line {
        position: relative;
        & span {
          display: block;
          width: 100%;
          height: 13px;
        }
        & .red {
          background-color: @C-red;
        }
        & .green {
          transition: .5s;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          background-color: @C-blue;
        }
      }
    }
  }
}