.mt-single-title {
  display: table;
  width: 100%;
  font-size: 0;
  letter-spacing: -.31em;
  background-color: #064147;
  padding: 15px 20px;
  &__logo {
    display: table-cell;
    width: 185px;
    padding-right: 10px;
    height: 60px;
    vertical-align: middle;
    text-align: left;
  }
  &__info {
    display: table-cell;
    vertical-align: middle;
    letter-spacing: normal;
  }
  &__text {
    & li {
      font-weight: @FW-Bold;
      color: #f4f4f4;
      font-size: 14px;
      position: relative;
      padding-left: 12px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        width: 8px;
        height: 1px;
        background-color: #FFFFFF;
      }
    }
  }
  &__link {
    display: table-cell;
    vertical-align: middle;
    width: 145px;
    padding-left: 10px;
    & .mt-btn {
      width: 100%;
    }
  }
}